body {
  margin: 0;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.update-slot {
  padding: 20px;
  border-radius: 15px;
  transition: 0.25s;
  /* margin-bottom: 30px; */
}

.update-slot h3 {
  margin: 7px 0 0 0;
}

.update-slot:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.active {
  background-color: #f8f8f8;
}

.thumbnail {
  width: 200px;
  height: 110px;
  overflow: hidden;
}

.thumbnail img {
  width: 200px;
  height: 150px;
  margin: -20px 0 0 0;
}

.more-updates {
  margin-top: 10px;
  float: right;
}
